<div id="waitingContainer" style="display: none;">
    <div id="waitingContent">
        <div class="waitingSpinner">
            <video width="400" autoplay loop>
                <source
                    src="https://github.com/Albertii04/albertii04.github.io/blob/main/resources/logoanimation.webm?raw=true"
                    type="video/webm" />
            </video>
        </div>
        <div id="waitingTextContainer">
            <h2>Waiting for Microsoft..</h2>
        </div>
    </div>
</div>